@import "tailwindcss";

@theme{

  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  --color-content-primary: #080B12;
  --color-content-secondary: #374151;
  --color-content-tertiary: #9CA3AF;
  --color-always-white: #FFFFFF;

  --color-border-primary: #D1D5DB;
  --color-border-hover: #B9C2D0;

  --color-bg-primary : #F4F5FB;
  --color-bg-secondary: #FFFFFF;

  --font-inter: "Inter", sans-serif;

}